@font-face {
  font-family: "Sukhumvit Set";
  src: url ("/Fonts/SukhumvitSet.ttc") format ("ttc")
 }

 @font-face {
   font-family: "Code Bold";
   src: url ("Fonts/CODE Bold.otf") format ("otf")
 }

/* Header and navigation */ 

.main-logo {
  font-family: "Code Bold;";
  width: 96px;
  background-color: #F2F7F0;
  display: block;  
  margin: 0 auto;
}

header {
  text-align: center;
  position: sticky;
  top:0;
}

nav {
  background-color: #F2F7F0;
  padding-bottom: 10px;
  padding-top: 0px;
  margin: 0;
 }

 .nav-block {
  background-color: #F2F7F0;
  padding-top: 30px;
  padding-bottom: 30px;
 }

nav li {
  display: inline-block;
  padding-right: 60px;
  }  
  
  .nav-center {
    max-width:950px;
    display: inline;
    margin: 0 auto;
  }

nav a {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 28px;
    color: #707070;
    text-decoration: none;
  }

nav a:hover {
  color: #CE301B;
}

.nav-icon-left {
    float: left;
    width: 60px;
    padding-right: 10px;
  }

.nav-icon-right {
    float: right;
    width: 60px;
  }

.active {
    color: #9FA87B
  }

/* Main */ 

main {
    max-width: 950px;
    margin: 0 auto;
  }

h1 {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-align:center;
    color: #CE301B;
    
  }

  @media only screen and (min-width:1400px) {
      h1 {
      padding-left: 71px;
      padding-top: 30px;
      position: fixed;
    }
  }

h2 {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 52px;
    color: #000;
    text-align: center;
  }

  .slogan {
    padding-bottom: 400px;
  }

h3 {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    Font-weight: Lighter;
    Font-size: 38px;
    color: #000;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    font-weight:lighter;
    color: black;
  }

  a {
    color: black;
    text-decoration: none;
  }

/* Footer */ 

  footer {
    background-color:#5D635D;
    text-align: center;
    position: sticky;
    bottom: 0;
  }

  footer p {
    display: inline-block;
    color: #F2F7F0;
    font-size: 16px;
    padding: 30px 20px 0px 0px;
  }

  .footer-icon {
    display: inline-block;
    width: 35px;
    padding: 30px 10px 30px 10px;
  }
  
  body {
    background-image: url("../images/Background-transparent.jpg");
    background-repeat: no-repeat;
    background-size: 2550px 1800px;
    background-position: top;
    background-color: #ffffff;
    margin: 0;
  }

  .index {
    background-image: url("../images/Index-background.jpg");
    background-repeat: no-repeat;
    background-size: 2550px 1800px;
    background-position: top;
    background-color: #ffffff
  }

  .gallery {
    padding-top: 80px;
    padding-bottom:80px;
  }

  .galleryphoto {
    width: 230px;
    height: auto;
  }

  /* Form */ 

  .form-box {
    max-width: 350px;
    margin: 0 auto;
    font-family: "Sukhumvit Set";
    font-size: 24px;
    border-radius: 10px;
  }

  .login-paragraph {
    color: #707070
  }

  .login-paragraph a {
    color: #CE301B;
  }

  a:hover {
    color: #CE301B;
  }

/* Flexbox */ 

  .container-faq {
    font-family: "Sukhumvit Set";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    padding-top:60px;
  }

  .item {
    flex:1;
    padding: 10px;
    margin:0;
  }


  @media only screen and (min-width:600px) {
    .container-faq {
      flex-direction: row;
    }
  }


img {
  max-width: 900px;
}

header-image {
  padding-bottom: 0px;
}

.container-shop {
  font-family: "Sukhumvit Set";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding-top:80px;
  padding-bottom:180px;
}

.container-shop img {
  width:460px;
}

@media only screen and (min-width:600px) {
  .container-shop {
    flex-direction: row;
  }
}

.centered-women {
  font-size: 38px;
  font-weight: lighter;
  color:#18352B;
  position: absolute;
  top: 45%;
  left: 33%;
}

.centered-men {
  font-size: 38px;
  font-weight: lighter;
  color:#18352B;
  position: absolute;
  top: 45%;
  right: 34%;
}

.product {
  max-width: 950px;
  display: grid;
  grid-gap: 3em;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 80px;
  text-align: center;
}

.product img {
width: 230px;
padding-bottom:0px;
}


.product-header {
  font-family: "Sukhumvit Set";
  font-size: 38px;
  font-weight: lighter;
  color:#18352B;
  text-align: left;
}

.product-price {
  font-family: "Sukhumvit Set";
  font-size: 24px;
  font-weight: bold;
  color:#18352B;
  text-align: left;
}
