nav {
  background-color: #F2F7F0;
  }

  nav li {
    display: inline-block;
    padding-right: 60px;
  }

  nav a {
    font-family: helvetica;
    font-weight: lighter;
    font-size: 28px;
    color: #707070;
    text-decoration: none;
  }

nav a:hover {
  color: #CE301B;
}

  nav ul {
    padding: 0px;
  }

  .nav-icon {
    padding-right: 20px;
  }

h1 {
    font-family: Helvetica;
    font-weight: 200;
    font-size: 42px;
    color: #CE301B;
  }

  p {
    font-family: Helvetica;
    font-size: 24px;
    font-weight:lighter;
    color: black;
  }

  a {
    color: black;
    text-decoration: none;
  }

  footer {
    background-color:#707070;
    color:#F2F7F0;
  }