@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvitset.ttc') format('ttc');
}

@font-face {
  font-family: "Code Bold";
  src: url("/fonts/codebold.otf") format("otf");
}

/* Global */

body {
  background-image: url("../images/Background-transparent.jpg");
  background-repeat: no-repeat;
  background-size: 2550px 1800px;
  background-position: top;
  background-color: #ffffff;
  margin: 0;
}

main {
  max-width: 950px;
  margin: 0 auto;
}

h1 {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align:center;
  color: #CE301B;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

h2 {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 52px;
  color: #000;
  text-align: center;
}

h3 {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  Font-weight: Lighter;
  Font-size: 38px;
  color: #000;
}

h4 {
  font-family: 'Code Bold';
  Font-size: 50px;
  color: #CE301B;
  margin-bottom: 10px;
  padding-left: 20px;
}

h5 {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #18352B;
  margin: 20px;

}

p {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight:lighter;
  color: black;
}

.p-grey {
  font-family: Helvetica, sans-serif;
    font-size: 28px;
    color: #707070;
    margin-top: 10px;
  }

a {
  color: black;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a:hover {
  color: #CE301B;
}

.bold {
  margin-top: 0;
  font-weight: bold;
}

/* Header and navigation */ 

header {
  text-align: center;
  position: sticky;
  top:0;
}

.main-logo {
  width: 70px;
  background-color: #F2F7F0;
  display: block;  
  margin: 0 auto;
}

.hamburger-icon {
  display:none;
}

#hamburger-menu {
  display:none;
}

nav {
  background-color: #F2F7F0;
  padding-bottom: 10px;
  padding-top: 0px;
  margin: 0;
 }

 .nav-block {
  background-color: #F2F7F0;
  padding-top: 10px;
  padding-bottom: 10px;
 }

nav li {
  display: none;
  }  

  nav ul {
    padding: 0;
  }

nav a {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 28px;
    color: #707070;
    text-decoration: none;
  }

  .nav-center {
    max-width:950px;
    display: inline;
    margin: 0 auto;
    position: relative;
    top: 12px;
  }

  .login-button {
    position: relative;
    top: 12px;
  }

nav a:hover {
  color: #CE301B;
}

.nav-icon-left {
    float: left;
    width: 60px;
    padding-right: 10px;
  }

.nav-icon-right {
    float: right;
    width: 60px;
  }

  .hidden-menu {
    display:none;
  }

.active {
    color: #9FA87B
  }

/* Footer */ 

footer {
  background-color:#5D635D;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer p {
  display: inline-block;
  color: #F2F7F0;
  font-size: 16px;
  padding: 20px 0px 0px 0px;
  position: relative;
  bottom: 10px;
}

.footer-icon {
  display: inline-block;
  width: 35px;
  padding: 20px 10px 20px 10px;
}

  /* Index */

  .index {
    background-image: url("../images/Index-background2.jpg");
    background-repeat: no-repeat;
    background-size: 2550px 1800px;
    background-position: top;
    background-color: #ffffff
  }

  .slogan {
    padding-bottom:60px;
  }

  .button {
    max-width: 400px;
    height: auto;
    padding-bottom: 500px;
    margin: 0 auto;
    opacity: 0;
    animation: button 4s forwards;
  }

  @keyframes button {
    0% {opacity: 0;}
    100%{opacity: 1};
  }

  /* Gallery */

  .gallery {
    padding-top: 80px;
    padding-bottom:120px;
    text-align: center;
  }

  .galleryphoto {
    max-width: 230px;
    height: auto;
  }

  /* login and sign up */ 

  .form-box {
    max-width: 350px;
    margin: 0 auto;
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 10px;
    padding-top: 80px;
    padding-bottom: 200px;
  }

  .login-paragraph {
    color: #707070;
  }

  .login-paragraph a {
    color: #CE301B;
  }

  /* My profile */

.profile-card {
  width: 780px;
  height: 430px;
  max-width: 90%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 5px 5px 20px grey;

}

.profile-pic {
  border-radius: 50%;
  padding-top: 60px;
  padding-left: 60px;
  width: 232px;
}

.profile-name {
  font-family: 'Sukhumvit Set', Helvetica, Sans-serif;
  font-size: 34px;
  font-weight: lighter;
  color: #1F3B14;
  padding-top: 10px;
  padding-left: 60px;
}

.profile-menu {
  font-family: 'Sukhumvit Set', Helvetica, Sans-serif;
  font-size: 26px;
  font-weight: lighter;
  color: #1F3B14;
}

/* FAQ */ 

  .container-faq {
    font-family: 'Sukhumvit Set', Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    padding-top:50px;
    padding-bottom: 80px;
  }

  .item {
    flex:1;
    padding: 10px;
    margin:0;
  }

/* About */ 

.about-image {
  max-width: 90%;
  height: auto;
  padding-top:80px;
  padding-bottom: 0px;
  margin: 0 auto;
}

.about-container {
  display: flex;
}

/* Shop pages */ 

.container-shop {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding-top:80px;
  padding-bottom:180px;
  text-align:center;
  text-transform: uppercase;
}

.container-shop img {
  max-width:460px;
  margin: 0 auto;
}


.men-text .women-text {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-size: 38px;
  font-weight: lighter;
  color:#18352B;
  text-align: center;
}

.product {
  max-width: 950px;
  display: grid;
  grid-gap: 3em;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 0;
  text-align: center;
}


.product img {
width: 280px;
padding-bottom:0px;
text-align:left;
}


.product-header {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-size: 38px;
  font-weight: lighter;
  color:#18352B;
  text-align: left;
  margin-top:5px;
  max-width: 280px;
  margin: auto;
}

.product-price {
  font-family: 'Sukhumvit Set', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:#18352B;
  text-align: left;
  max-width:280px;
  margin: auto;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

.red {
  background-color: rgb(250, 79, 64);
}

.green {
  background-color: rgb(108, 182, 112);
}

.orange {
  background-color: rgb(245, 163, 40);
}

.pink {
  background-color: rgb(255, 97, 229);
}

.turquoise {
  background-color: rgb(76, 211, 235);
}

.blue {
  background-color: rgb(48, 99, 170);
}

.black {
  background-color: black;
}

/* Spec page */

.spec-container {
  padding-top: 10px;
  display: flex;
  padding-bottom: 30px;
}

.item-photo {
  margin: 20px;
  flex:2;
}

.item-info {
  margin-top: 0;
  margin: 20px;
  flex:2;
}

.item-text {
  margin: 20px;
  margin-top: 0;
  flex:2;
}

.size-icon {
  width: 40px;
  height: auto;
  padding-right: 10px;
}

.add-cart {
  width:350px;
  height: auto;
  padding-bottom: 60px;
  padding-left: 600px;
}

.picker {
  width: 100px;
}

.heart {
  width:50px;
  padding-left: 70px;
  padding-top: 35px;
  opacity: 0.1;
  transform: ;
}

@keyframes heart {
  0% {opacity: 0;}
  100%{opacity: 1};
}

/* Contact info page */ 

.icon {
  width: 60px;
  padding-right: 30px;
}

.contact-info {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.info-text {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #707070;
}

.map {
  max-width:100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Responsive */ 
/* For big screens */ 

@media only screen and (min-width:1500px) {
  h1 {
    padding-left: 71px;
    padding-top: 30px;
    position: fixed;
  }
}
@media only screen and (min-width:1221px) {
  nav li {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
  }  
  .container-shop {
    flex-direction: row;
  }
  footer {
    position: sticky;
    bottom: 0 ;
  }
}

/* For small screens */ 

#hamburger-menu:checked ~ nav li {
  display: block;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

#hamburger-menu:checked ~ nav li.hidden-menu {
  display: block;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

#hamburger-menu:checked ~ nav li.nav-icon-left {
  display: none;
}

#hamburger-menu:checked ~ nav li.nav-icon-right {
  display: none;
}

@media only screen and (max-width:1220px) {
  .main-logo {
    width: 50px;
  }
.nav-block {
    padding-top: 10px;
    padding-bottom: 0;
  }
header {
    position: static;
  }
  .hamburger-icon {
    width: 60px;
    display: block;
    margin-left: 30px;
  }
  .container-shop {
    flex-direction: column;
  }
  .container-shop img {
    width: 60%;
  }
  .product {
    display: grid;
    grid-gap: 2em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
  }
}

@media only screen and (max-width:700px) {
  .phone-background {
    background-image: none;
    background-color: #fff;
  }
  .product {
    display: grid;
    grid-gap: 2em;
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
  .container-faq {
    flex-direction: column;
  }
  .about-container {
    flex-direction: column;
  }
  .button {
    max-width: 300px;
  }
}





